#wall, #character, #front, #build {
    position: absolute;
    transition: 2s;
}
#wall {
    width: 2200px;
    z-index: 5;
left: 450px;
top: 230px;
opacity: 0;

}
#character {
    width: 400px;
    z-index: 5;
left: 1500px;
top: 900px;


}
#front {
    width: 2200px;
    z-index: 5;
left: 500px;
top: 300px;
opacity: 0;
}
#build {
    width: 400px;
    z-index: 5;
left: 1500px;
top: 1100px;
opacity: 0;
}